<head>
    <title>B-LNE-0 Results Viewer</title>
    <link type="text/css" rel="stylesheet" href="collage.css">
</head>
<body>
    <header>
        <img src="https://www.ubcuas.com/wp-content/uploads/2014/11/Logo-1b_FINAL-300x80.png"/>
        <h3>Written in a caffeine fueled 23 hours for the UAS Coding Challenge by Alexander Chudinov</h3>
        <a href="https://gitlab.com/alexander-chudinov/uas-coding-challenge-2020">Gitlab Repo</a>
        <br/>
        <a href="https://alexanderchudinov.com">Portfolio Website</a>
    </header>
    <div id="collage-container"></div>
    <script>
        for(let x=0;x<100;x++){
            let imageElement = document.createElement("img")
            imageElement.className = "collage-child"
            imageElement.src = "./test_results/result-"+x+".png"
            document.getElementById("collage-container").appendChild(imageElement)
        }
    </script>
</body>
