@font-face {
    font-family: Quicksand-Bold;
    src: url("assets/fonts/Quicksand-Bold.otf") format("opentype");
}
body{
    margin:0;
}
header{
    padding:10px;
    width:100%;
    font-family: Quicksand-Bold;
    text-align: center;
}
header img{
    height:50px;
}
#collage-container{
    width:100%;
}
.collage-child{
    float:left;
    width:20%;
}